[report]
omit =
    /home/*/.buildout/eggs/*
    /home/*/srv/zinstances/cache/eggs/*
    /usr/*
    bin/test
    buildout-cache/eggs/*
    parts/*
    devel/*
    src/imio/__init__.py
    src/imio/helpers/tests/__init__.py
