*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.*
.plone-version
.project
.pydevproject
.settings/
bin/
buildout-cache/
CACHEDIR.TAG
checkversion*.html
develop-eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
!src/imio
var/
.coverage
share/
pip-selfcheck.json
pyvenv.cfg
