exclude .mr.developer.cfg
graft src/imio
graft buildout.d
graft docs
include *.cfg *.rst *.in *.txt
include *.py
include .coveragerc
include .travis.yml
include Makefile
exclude .installed.cfg
global-exclude *.pyc
recursive-include docs *.GPL
recursive-include docs *.rst
