[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    base.cfg

;update-versions-file = test-6.0.cfg

[test]
environment = testenv

[versions]
# to keep prompt-toolkit < 3
ipython = 8.3.0

ipdb = 0.13.9
iw.debug = 0.3
jedi = 0.18.1
parso = 0.8.3

# Required by:
# ipdb
asttokens = 2.0.8
backcall = 0.2.0
executing = 1.1.1
matplotlib-inline = 0.1.6
pexpect = 4.8.0
pickleshare = 0.7.5
ptyprocess = 0.7.0
pure-eval = 0.2.2
stack-data = 0.5.1
traitlets = 5.4.0

# Added by buildout at 2023-10-07 11:41:52.430690
PyPDF2 = 1.26.0
build = 1.0.3
cachecontrol = 0.13.1
coverage = 7.3.2
createcoverage = 1.5
fancycompleter = 0.9.1
filelock = 3.12.4
flake8 = 6.1.0
flake8-isort = 6.1.0
i18ndude = 6.1.0
isort = 5.12.0
mccabe = 0.7.0
msgpack = 1.0.7
natsort = 6.2.1
pdbpp = 0.10.3
plone.recipe.codeanalysis = 3.0.1
plone.versioncheck = 1.8.1
pycodestyle = 2.11.0
pyflakes = 3.1.0
pyproject-hooks = 1.0.0
pyrepl = 0.9.0
reportlab = 3.5.54

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.49

# Required by:
# imio.helpers==0.69.dev0
collective.fingerpointing = 1.8.3

# Required by:
# collective.fingerpointing==1.8.3
file-read-backwards = 3.0.0

# Required by:
# check-manifest==0.49
tomli = 2.0.1

# Required by:
# pdbpp==0.10.3
wmctrl = 0.5

# Required by:
# imio.helpers==0.69.dev0
z3c.unconfigure = 2.0
