[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

show-picked-versions = true
allow-picked-versions = true

# update-versions-file = test_plone52.cfg

[versions]
setuptools = 42.0.2
zc.buildout = 2.13.2
flake8-isort = 5.0.3
ipython = 7.34.0
isort = 4.3.21
prompt-toolkit = 3.0.19
toml = 0.10.2
# Added by buildout at 2020-06-22 13:20:15.457149
PyPDF2 = 1.26.0
collective.behavior.talcondition = 0.11
configparser = 4.0.2
createcoverage = 1.5
flake8 = 3.8.3
mccabe = 0.6.1
plone.recipe.codeanalysis = 3.0.1
pycodestyle = 2.6.0
pyflakes = 2.2.0
reportlab = 3.5.42
zipp = 1.2.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.42

# Required by:
# check-manifest==0.42
pep517 = 0.8.2
